<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./work-experience.html">

<dom-module id="author-work">
    <style>
        /* Add the desired style here. */
    </style>

    <template>
        <h3>Work</h3>

        <!-- TODO: Add a loop here. -->
        <work-experience></work-experience>
        <work-experience></work-experience>
        <work-experience></work-experience>
        <work-experience></work-experience>
    </template>
</dom-module>

<script>
    // TODO: Add the object handling here.
    // TODO: Try passing intro information as an object.
    Polymer({
        is: "author-work",
        ready: function() {

        }
    });
</script>