<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./work-experience.html">

<dom-module id="author-work">
  <style>
    h3 {
      margin-bottom: 0;
    }
  </style>

  <template>
    <h3>Work</h3>

    <!-- TODO: Add a loop here. -->
    <template is="dom-repeat" items="[[info.jobs]]">
      <work-experience
        title="[[item.title]]"
        employer="[[item.employer]]"
        date="[[item.date]]"
        description="[[item.description]]">
      </work-experience>
    </template>

  </template>
</dom-module>

<script>
  // TODO: Add the object handling here.
  // TODO: Try passing intro information as an object.
  Polymer({
    is: "author-work",
    properties: {
      info: Object
    }
  });
</script>