<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./work-experience.html">

<dom-module id="author-work">
  <style>
    /* work block */

    .work__title {
      margin-bottom: 0;
    }
  </style>

  <template>
    <div class="work">
      <h3 class="work__title">Work</h3>

      <template is="dom-repeat" items="[[info.jobs]]">
        <work-experience
          class="work__experience"
          title="[[item.title]]"
          employer="[[item.employer]]"
          date="[[item.date]]"
          description="[[item.description]]">
        </work-experience>
      </template>

    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: "author-work",
    properties: {
      info: Object
    }
  });
</script>