<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="work-experience">
  <style>
    p {
      margin-bottom: 0.5em;
    }

    h5 {
      margin-bottom: 1.2em;
    }

    .occupation-info {
      padding: 2em 0 2em 0;
      border-bottom: 1px solid #196090;
    }

    .occupation-meta {
      width: 100%;
      line-height: 1.6em;
      font-size: .9em;
    }

    .employer {
      color: #3498db;
      font-size: 1.1em;
    }

    .time-range {
      font-size: .9em;
      margin-left: 1em;
    }
  </style>

  <template>
    <article class="occupation-info clearfix">
      <h5 class="job-title">[[title]]</h5>
      <div class="meta-info center-parent-vertical">
          <p class="occupation-meta"><span class="employer">[[employer]]</span><span class="time-range"><time>[[date]]</time></span></p>
      </div>
      <p class="work-description">[[description]]</p>
    </article>
  </template>
</dom-module>

<script>
  Polymer({
    is: "work-experience",
    properties: {
      title: String,
      employer: String,
      date: String,
      description: String
    }
  });
</script>