<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="work-experience">
  <style>
    /* experience block */

    .experience {
      padding: 2em 0 2em 0;
      border-bottom: 1px solid #196090;
    }

    .experience__role {
      margin-bottom: 1.2em;
    }

    .experience__meta-info {
      width: 100%;
      line-height: 1.6em;
      font-size: .9em;
      margin-bottom: 0.5em;
    }

    .experience__employer {
      color: #3498db;
      font-size: 1.1em;
    }

    .experience__dates {
      font-size: .9em;
      margin-left: 1em;
    }

    .experience__description {
      margin-bottom: 0.5em;
    }
  </style>

  <template>
    <article class="experience clearfix">
      <h5 class="experience__role">[[title]]</h5>
      <div class="center-parent-vertical">
          <p class="experience__meta-info"><span class="experience__employer">[[employer]]</span><span class="experience__dates"><time>[[date]]</time></span></p>
      </div>
      <p class="experience__description">[[description]]</p>
    </article>
  </template>
</dom-module>

<script>
  Polymer({
    is: "work-experience",
    properties: {
      title: String,
      employer: String,
      date: String,
      description: String
    }
  });
</script>