/*
    Base used:
    - clouds #ecf0f1
    - midnightBlue #2c3e50
    - GreenSea #16a085
 */

// TODO: Add colors as variables.

/* ------------------------ */
/* Imports */

/* Open Sans */
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

/* ------------------------ */
/* Basic setup */

/* layout */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.4em;
    text-rendering: optimizeLegibility;
    color: #ecf0f1;
    background: rgb(44,62,80);

    section {
        padding: 0 1em;
    }

    section, header {
        margin-bottom: 3em;
    }
}

/* elements */

h1 {
    font-size: 2.8em;
    line-height: 1em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 2.4em;
    line-height: 1em;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 2em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.4em;
    margin-bottom: 1em;
}

h5 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

section {
    padding: 3em 0;


    h3 {
        margin-bottom: 1.3em;
        width: 100%;
        display: block;
    }
}

p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 1em;
}

/* ------------------------ */
/* Classes */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.center-parent-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    display: inline-block;

    &.big {
        font-size: 1.3em;
    }
}

.link {
    display: block;
}

/* ------------------------ */
/* Sections */

/* header */

header {
    height: 98vh;
    background: linear-gradient(rgba(44,62,80,0.8), rgb(44,62,80)), url(../resources/images/hero-large.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 1em;
    position: relative;

    h1,
    h2 {
        color: #fff;
        text-align: center;
    }

    h1 {
        font-size: 2.4em;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 1.4em;
    }

    nav {
        position: fixed;
        top: 0;
        display: none;

        ul {
            li {
                float: left;
                margin-left: 1em;
            }
        }
    }

    .github-header {
        font-size: 1.5em;
        position: absolute;
        top: 10px;
        left: 0;
        padding: 0.5em;
        transition: all .2s ease-in-out;

        &:hover {
            color: #47e6c7;
        }
    }
}

/* projects */

.projects,
.projects-sample {
    min-height: 100vh;
    margin-bottom: 3em;

    .portfolio-link {
        margin-top: 1em;

        a {
            padding-left: 0;
            .icon {
                margin-right: 1em;
            }
        }
    }
}

.project-grid {
    margin-left: -1em;
    margin-right: -1em;
}

.project {
    overflow: hidden;
    font-size: 0.9em;
    text-align: center;
    position: relative;

    .image-cover {
        min-width: 100%;
        min-height: 100%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    .meta-info {
        position: relative;
        z-index: 1;
        padding: 1em;
        margin-bottom: -2em;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
    }

    .sources {
        margin: 0 auto;
        text-align: center;
        display: inline-block;
        font-size: 1.5em;

        .link {
            float: left;
            margin-right: 0;

            a {
               padding: 0.5em;
            }
        }
    }

    .dark-overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #222;
        transition: all 0.2s ease-in-out;
    }

    &.active {
        .meta-info {
            display: block;
            opacity: 1;
            margin-bottom: 0;
            visibility: visible;
        }

        .dark-overlay {
            opacity: .8;
        }
    }
}

.projects-sample {
    .project {
        height: 45vh;
    }
}

/* about */

.about {
    padding-top: 2em;
    margin-bottom: 5em;

    .skills {
        padding: 1em 0 0 0;
        text-align: center;

        .tool-icon {
            font-size: 2.5em;
            display: inline-block;
            margin: 0.4em 0.5em;
            color: #47e6c7;
        }
    }

    .information {
        margin-bottom: 1em;

        p {
            margin-bottom: 2em;
        }

        p:last-child {
            margin: 0;
        }
    }

    .author-intro {
        margin-bottom: 2em;
    }

    .author-image {
        // TODO
        img {
            display: block;
            margin: 0 auto;
            width: 50%;
        }
    }

    .author-image,
    .contacts,
    .skills {
        margin-bottom: 1.5em;
    }
}

/* contact */

.contact {
    padding: 2em 1em 3em 1em;
    margin-bottom: 0;

    .contact-info {
        margin-bottom: 2em;
    }
}

.single-link {
    display: block;

    .icon {
        color: #47e6c7;
        margin-right: 0.4em;
    }

    .icon,
    .highlight-hover {
        transition: all .2s ease-in-out;
    }

    &:hover {
        .icon {
            transform: scale(1.2);
        }

        .highlight-hover {
            color: #47e6c7;
        }
    }
}

.map-container {
    display: none;
}

/* work */

.work {
    h3 {
        margin-bottom: 0;
    }
}

.occupation-info {
    padding: 2em 0 2em 0;
    border-bottom: 1px solid #196090;

    &:last-child {
        border: none;
    }

    &:first-child {
        padding-top: 0;
    }

    p {
        margin-bottom: 0.5em;
    }

    h5 {
        margin-bottom: 1.2em;
    }

    .occupation-meta {
        width: 100%;
        line-height: 1.6em;
        font-size: .9em;

        .employer {
            color: #3498db;
            font-size: 1.1em;
        }

        .time-range {
            font-size: .9em;
            margin-left: 1em;
        }
    }
}

/* education */

.education {
    margin-top: 4em;

    h3 {
        margin-bottom: 2em;
    }

    h6 {
        margin-bottom: .7em;
    }

    .degree-title {
        color: #3498db;
    }

    .link {
        padding-top: .4em;
        padding-left: 0;
    }
}

.school {
    p {
        margin-bottom: .2em;
    }

    .location {
        font-size: .7em;
    }
}

.course {
    .degree-title {
        margin-bottom: .2em;
    }
}

.school,
.course {
    margin-left: 1em;
    margin-bottom: 1.5em;
}

.schools {
    margin-bottom: 1em;
}

/* footer */

footer {
    width: 100%;
    padding: 0.6em;
    text-align: center;
    font-size: 0.85em;

    p {
        margin: 0;
    }

    em {
        margin-top: 0.2em;
        display: inline-block;
        font-size: 0.75em;
        color: #47e6c7;
    }
}

/* Media queries */

@media (min-width: 450px) {
    body {
        font-size: 19px;
    }

    .about {
        .skills {
            font-size: 1.1em;

            .tool-icon {
                margin: .4em .35em;
            }
        }
    }

    .occupation-info {
        font-size: 1.1em;
        padding: 1em;

        // .meta-info {
        //     font-size: .8em;
        //     width: 35%;
        //     float: left;
        // }

        // .work-description {
        //     width: 60%;
        //     float: right;
        // }
    }
}

@media (min-width: 600px) {

    body {
        font-size: 19px;
    }

    .work {
        h3 {
            margin-bottom: 1em;
        }
    }

    .projects-sample {
        min-height: inherit;

        .project-grid {
            // TODO: Add a mixin for the flex rules.
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        .project {
            width: calc(100% / 3);
        }
    }
}

@media (min-width: 700px) {

    .lg-hidden {
        display: none;
    }

    .about {
        margin-bottom: 2em;

        .skills-container {
            .skills {
                padding-top: 0;
                width: 100%;
                text-align: left;
                font-size: 1em;
            }
        }
    }

    .project {
        .sources {
            font-size: 1.2em;
        }
    }

    .contact-info {
        margin-top: 1em;
    }

    .occupation-info {
        padding: 3em;
        padding-left: 0;
        font-size: 1em;
    }

    .schools,
    .online-courses {
        padding: 1em;
        margin: 0 auto;
    }

    .course,
    .school {
        margin-left: 0;
    }
}

@media (min-width: 900px) {

    body {
        font-size: 19px;
    }

    a {
        padding-left: 0;
        padding-right: 0;
    }

    .grid-middle {
        width: 900px;
        margin: 0 auto;
    }

    .contact {
        flex-direction: row-reverse;

        .contacts {
            padding-left: 0;
        }

        .contact-info {
            padding-left: 1em;
        }
    }

    .project {
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            .dark-overlay {
                opacity: .8;
            }

            .meta-info {
                display: block;
                opacity: 1;
                margin-bottom: 0;
                visibility: visible;
            }
        }
    }
}
