<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="header-intro">
    <style>
    </style>

    <template>
        <a href="#" class="github-header link"><span class="icon big icon-github-circled"></span></a>

        <nav>
            <ul>
                <li><a href="">Projects</a></li>
                <li><a href="">About me</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>

        <h1>Lorem Ipsum.</h1>
        <h2>Lorem Ipsum dolor sit amet.</h2>
    </template>
</dom-module>

<script>
    // TODO: Add the object handling here.
    // TODO: Try passing intro information as an object.
    Polymer({
        is: "header-intro",
        ready: function() {

        }
    });
</script>