<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./single-contacts.html">

<dom-module id="author-contacts">
  <style>
    /* contacts block */

    .contacts__action-call {
      margin: 3em 0;
      order: 2;
    }

    .contacts__single {
      order: 1;
    }
  </style>

  <template>
    <div class="contacts">
      <h3 class="contacts__title">Get in touch</h3>
      <div class="md-container">
        <p class="contacts__action-call col-md-6">[[info.callAction]]</p>
        <single-contacts contacts="[[info.contacts]]" class="contacts__single col-md-6"></single-contacts>
      </div>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: "author-contacts",
    properties: {
      info: Object
    },
    ready: function() {

    }
  });
</script>