<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./single-contacts.html">

<dom-module id="author-contacts">
    <style>
        /* Add the desired style here. */
    </style>

    <template>
        <h3>Get in touch</h3>
        <p class="contact-info col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
        <single-contacts></single-contacts>
    </template>
</dom-module>

<script>
    // TODO: Add the object handling here.
    // TODO: Try passing intro information as an object.
    Polymer({
        is: "author-contacts",
        ready: function() {

        }
    });
</script>