<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="single-contacts">
  <style>
    /* contact-links block */

    .contact-links__link {
      display: block;
    }

    .contact-links__icon {
      color: #47e6c7;
      margin-right: 0.4em;
      transition: all .2s ease-in-out;
    }

    .contact-links__highlight {
      transition: all .2s ease-in-out;
    }

    .contact-links__link:hover .contact-links__icon {
      transform: scale(1.2);
    }

    .contact-links__link:hover .contact-links__highlight {
      color: #47e6c7;
    }
  </style>

  <template>
    <ul class="contact-links">
      <li class="contact-links__link single-link"><a href="[[contacts.email]]" class="link" title="Email link"><span class="contact-links__icon icon big icon-mail"></span> Send me an <span class="contact-links__highlight">email</span>.</a></li>

      <li class="contact-links__link single-link"><a href="[[contacts.linkedin]]" target="_blank" class="link" title="LinkedIn profile link"><span class="contact-links__icon icon big icon-linkedin"></span> Take a look at my <span class="contact-links__highlight">Linkedin</span>.</a></li>

      <li class="contact-links__link single-link"><a href="[[contacts.github]]" target="_blank" class="link" title="Github profile link"><span class="contact-links__icon icon big icon-github-circled"></span> Check my code at <span class="contact-links__highlight">Github</span>.</a></li>
    </ul>
  </template>
</dom-module>

<script>
  Polymer({
    is: "single-contacts",
    properties: {
      contacts: Object
    }
  });
</script>