<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="single-contacts">
    <style>
        /* Add the desired style here. */
    </style>

    <template>
        <ul class="contacts">
            <li class="single-link"><a href="" class="link" title="Email link"><span class="icon big icon-mail"></span> send me an <span class="highlight-hover">email.</span></a></li>
            <li class="single-link"><a href="" class="link" title="LinkedIn profile link"><span class="icon big icon-linkedin"></span> take a look at my <span class="highlight-hover">Linkedin</span>.</span></a></li>
            <li class="single-link"><a href="" class="link" title="Github profile link"><span class="icon big icon-github-circled"></span> check my code at <span class="highlight-hover">Github</span>.</a></li>
        </ul>
    </template>
</dom-module>

<script>
    // TODO: Add the object handling here.
    // TODO: Try passing intro information as an object.
    Polymer({
        is: "single-contacts",
        ready: function() {

        }
    });
</script>