<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="author-skills">
  <style>
      /* Add the desired style here. */
  </style>

  <template>
    <div class="skills-container">
      <h5 class="lg-hidden">Skills &amp; tools</h5>
      <p class="lg-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

      <article class="skills col-md-12">
        <template is="dom-repeat" items="{{toArray(tools)}}">
          <!-- TODO: Add a component for each icon -->
          <i class$="tool-icon [[item.value]]"></i>
        </template>
      </article>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: "author-skills",
    properties: {
      tools: Object
    },
    toArray: function(object) {
      return Object.keys(object).map(function(key) {
        return {
          name: key,
          value: object[key]
        };
      });
    }
  });
</script>