<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="author-skills">
  <style>
    /* skills block */

    .skills {
      margin-top: 3em;
    }

    @media screen and (min-width: 701px) {
      .skills {
        margin-top: 0;
      }
    }

    /* icons block */

    .icons__item {
      font-size: 2.4em;
      display: inline-block;
      margin: 0.4em 0.4em;
      color: #47e6c7;
    }
  </style>

  <template>
    <div class="skills">
      <h5 class="skills__title lg-hidden">Skills &amp; tools</h5>
      <p class="skills__description lg-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

      <article class="icons col-md-12">
        <template is="dom-repeat" items="{{toArray(tools)}}">
          <!-- TODO: Add a component for each icon -->
          <i class$="icons__item [[item.value]]"></i>
        </template>
      </article>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: "author-skills",
    properties: {
      tools: Object
    },
    toArray: function(object) {
      return Object.keys(object).map(function(key) {
        return {
          name: key,
          value: object[key]
        };
      });
    }
  });
</script>