<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./single-project.html">

<dom-module id="author-projects">
  <style>
    .portfolio-link {
      margin-top: 1em;
    }

    .portfolio-link a {
      padding-left: 0;
    }

    .portfolio-link .icon {
      margin-right: 1em;
    }

    .project-grid {
      margin-left: -1em;
      margin-right: -1em;
    }
  </style>

  <template>
    <h3>Projects</h3>

    <div class="project-grid clearfix">
      <template is="dom-repeat" items="[[info.projects]]">
        <single-project project-data="[[item]]" class="col-md-4"></single-project>
      </template>
    </div>

    <p class="portfolio-link single-link"><a href="" class="link"><i class="icon icon-website"></i>Check more on my <span class="highlight-hover">portfolio</span>.</a></p>
  </template>
</dom-module>

<script>
  Polymer({
    is: "author-projects",
    properties: {
      info: Object
    }
  });
</script>
