<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../contacts/single-contacts.html">
<link rel="import" href="../general/author-skills.html">

<dom-module id="author-about">
  <style>
    /* about block */

    .about {
      padding-top: 2em;
      margin-bottom: 5em;
    }

    .about__introduction {
      margin-bottom: 2em;
    }

    .about__skills {
      padding: 1em 0 0 0;
    }

    .about__contacts,
    .about__skills {
      margin-bottom: 1.5em;
    }

    /* information block */

    .information {
      margin-bottom: 1em;
    }

    .information__welcome,
    .information__about,
    .information__skills {
      margin-bottom: 2em;
    }

    /* image-container block */

    .image-container {
      margin-bottom: 1.5em;
    }

    .image-container__image {
      display: block;
      margin: 0 auto;
      width: 60%;
      max-width: 320px;
      border-radius: 50%;
    }
  </style>

  <template>
    <div class="about md-container">
      <div class="about__introduction md-container col-md-12">

        <article class="information col-md-7">
          <h3 class="information__title">About me</h3>
          <p class="information__welcome">[[info.welcomeMessage]]</p>
          <p class="information__about">[[info.about]]</p>
          <p class="information__skills">[[info.skills]]</p>
        </article>

        <div class="image-container center-parent-vertical col-md-5">
          <picture>
            <img src="../../build/resources/images/profile-small.jpg" class="image-container__image image-cover" alt="author picture">
          </picture>
        </div>
      </div>
      <single-contacts contacts="{{info.contacts}}" class="about__contacts col-md-6"></single-contacts>
      <author-skills tools="{{info.devicons}}" class="about__skills col-md-6"></author-skills>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: "author-about",
    properties: {
      info: Object
    }
  });
</script>