<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../contacts/single-contacts.html">
<link rel="import" href="../general/author-skills.html">

<dom-module id="author-about">
  <style>
    /* Add the desired style here. */
  </style>

  <template>
      <div class="md-container">
        <div class="author-intro md-container col-md-12">
          <article class="information col-md-7">
            <h3>About me</h3>
            <p>[[info.welcomeMessage]]</p>
            <!-- TODO: Place the skills with the about section paragraph. -->
            <p>[[info.about]] <br> [[info.skills]]</p>
          </article>

          <div class="author-image center-parent-vertical col-md-5">
            <picture>
              <img src="" alt="author picture">
            </picture>
          </div>
        </div>
        <single-contacts contacts="{{info.contacts}}" class="col-md-6"></single-contacts>
        <author-skills tools="{{info.devicons}}" class="col-md-6"></author-skills>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: "author-about",
    properties: {
      info: Object
    }
  });
</script>