<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./course.html">
<link rel="import" href="./school.html">

<dom-module id="author-education">
  <style>
    /* schools block */

    .schools {
      margin-bottom: 1em;
    }
  </style>

  <template>
    <div class="education">
      <h3>Education</h3>

      <div class="md-container col-md-12">
        <div class="schools col-md-5">
          <h4>Schools</h4>
          <template is="dom-repeat" items="[[info.schools]]">
            <single-school class="schools__single" school="[[item]]"></single-school>
          </template>
        </div>

        <div class="online-courses col-md-5">
          <h4>Online courses</h4>
          <template is="dom-repeat" items="[[info.onlineCourses]]">
            <single-course class="online-courses__single" course="[[item]]"></single-course>
          </template>
        </div>
      </div>

    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: "author-education",
    properties: {
      info: Object
    }
  });
</script>
