<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="single-course">
    <style>
        /* Add the desired style here. */
    </style>

    <template>
        <article class="course">
            <h6>Udacity &bull; <span class="time-range"><time>12/11/2099</time></span></h6>
            <p class="degree-title">Front end nanodegree</p>
            <a href="" class="single-link link"><i class="icon icon-website"></i> www.udacity.com</a>
        </article>
    </template>
</dom-module>

<script>
    // TODO: Add the object handling here.
    // TODO: Try passing intro information as an object.
    Polymer({
        is: "single-course",
        ready: function() {

        }
    });
</script>
