<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="single-course">
  <style>
    p {
      margin-bottom: .2em;
    }

    .location {
      font-size: .7em;
    }

    .course {
      margin-left: 1em;
      margin-bottom: 1.5em;
    }

    .course .degree-title {
      margin-bottom: .2em;
    }

    .degree-title {
      color: #3498db;
    }

    .link {
      padding-top: .4em;
      padding-left: 0;
    }
  </style>

  <template>
    <article class="course">
      <h6>[[course.school]] &bull; <span class="time-range"><time>[[course.dates]]</time></span></h6>
      <p class="degree-title">[[course.title]]</p>
      <a href="[[course.url]]" class="single-link link"><i class="icon icon-website"></i> [[course.url]]</a>
    </article>
  </template>
</dom-module>

<script>
  Polymer({
    is: "single-course",
    properties: {
      course: Object
    },
    ready: function() {

    }
  });
</script>
