<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="single-course">
  <style>
    /* course block */

    .course {
      margin-left: 1em;
      margin-bottom: 1.5em;
    }

    .course__degree-title {
      margin-bottom: .2em;
      color: #3498db;
    }

    .course__dates {
      color: #ecf0f1;
    }

    .course__link {
      padding-top: .4em;
      padding-left: 0;
    }
  </style>

  <template>
    <article class="course">
      <h6 class="course__school-name">[[course.school]]</h6>
      <p class="course__degree-title     degree-title">[[course.title]] &bull; <span class="course__dates     time-range"><time>[[course.dates]]</time></span></p>
      <a href="[[course.url]]" target="_blank" class="course__link single-link link"><i class="icon icon-website"></i> Udacity</a>
    </article>
  </template>
</dom-module>

<script>
  Polymer({
    is: "single-course",
    properties: {
      course: Object
    },
    ready: function() {

    }
  });
</script>
