<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="single-school">
    <style>
        /* Add the desired style here. */
    </style>

    <template>
        <article class="school">
            <h6>School name, <span class="location">Brasilia, Brazil</span></h6>
            <p><span class="degree-title">Degree title</span> &bull; <span class="time-range"><time>12/11/2099</time></p>
            <p class="majors">Major text</p> <!-- TODO -->
            <a href="" class="single-link link"><i class="icon icon-website"></i> www.schoolname.com</a>
        </article>
    </template>
</dom-module>

<script>
    // TODO: Add the object handling here.
    // TODO: Try passing intro information as an object.
    Polymer({
        is: "single-school",
        ready: function() {

        }
    });
</script>
