<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="single-school">
  <style>
    /* school block */

    .school {
      margin-left: 1em;
      margin-bottom: 1.5em;
    }

    .school__degree-title {
      color: #3498db;
    }

    .school__link {
      padding-top: .4em;
      padding-left: 0;
    }

    .school__location {
      font-size: .7em;
    }
  </style>

  <template>
    <article class="school">
      <h6 class="school__name">[[school.name]], <span class="school__location">[[school.location]]</span></h6>
      <p><span class="school__degree-title">[[school.degree]]</span> &bull; <span class="school__dates"><time>[[school.dates]]</time></p>
      <p class="school__majors    majors">[[school.majors]]</p>
      <!-- <a href="[[school.url]]" target="_blank" class="school__link single-link link"><i class="icon icon-website"></i> [[school.url]]</a> -->
    </article>
  </template>
</dom-module>

<script>
  Polymer({
    is: "single-school",
    properties: {
      school: Object
    },
    ready: function() {

    }
  });
</script>
