<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="single-school">
  <style>
    .school {
      margin-left: 1em;
      margin-bottom: 1.5em;
    }

    .degree-title {
      color: #3498db;
    }

    .link {
      padding-top: .4em;
      padding-left: 0;
    }
  </style>

  <template>
    <article class="school">
      <h6>[[school.name]], <span class="location">[[school.location]]</span></h6>
      <p><span class="degree-title">[[school.degree]]</span> &bull; <span class="time-range"><time>[[school.dates]]</time></p>
      <p class="majors">[[school.majors]]</p>
      <a href="[[school.url]]" class="single-link link"><i class="icon icon-website"></i> [[school.url]]</a>
    </article>
  </template>
</dom-module>

<script>
  Polymer({
    is: "single-school",
    properties: {
      school: Object
    },
    ready: function() {

    }
  });
</script>
